KMS_ENCRYPTED_HOOK_URL=
UNENCRYPTED_HOOK_URL=https://hooks.slack.com/services/...
SLACK_CHANNEL='#bowery-os-alerts'
SLACK_USERNAME=BoweryBot
ICON_EMOJI=":robot_face:"
ORG_ICON=https://s3.amazonaws.com/bowery-shared-assets/icon.jpg
ORG_NAME=Bowery Farming
